.pagehead{
	width:100%;
	min-width: 1000px;
	height: 45px;
	background-color: #aaaaaa;
	margin-bottom: 20px;
	color: #ffff00;
	text-align: center;
	font-size: 20px;
	line-height: 45px;
}
.pagehead span{
	padding: 3px 10px 0px 3px;
	color: #ffff00;
}

.totalstatus{
	width:80%;
	margin: auto;
	min-width: 1000px;
	height: 200px;
	text-align: center;
}

#logpane{
	width:40%;
	min-width:400px;
	background-color: #567890;
	border-radius: 8px;
	height: 100%;
	display: inline-block;
	margin: auto;
	color:#ffffff;
	float: left;
	margin-right: 40px;
	overflow: auto;
	text-align: left;
	padding-left: 30px;
	line-height: 30px;
}

#statistic{
	width:30%;
	min-width:300px;
	background-color: #567890;
	border-radius: 8px;
	height: 100%;
	display: inline-block;
	margin: auto;
	color:#ffffff;
	float: left;
	margin-right: 40px;
	padding-top: 40px;
}

#standtime{
	width:20%;
	min-width: 200px;
	background-color: #567890;
	border-radius: 8px;
	height: 100%;
	display: inline-block;
	margin:auto;
	color:#ffffff;
	float: left;
	line-height: 50px;
	padding-top: 20px;
}

.divide{
	width:12%;
	min-width: 200px;
	border-bottom: 1px solid #123456;
	margin: 50px;
}
.glyphicon{
	margin-left:15px;
	font-size: 20px;
	cursor: pointer;
	color:#765980;
}

.spidepane{
	width: 90%;
	min-height: 500px;
	margin: auto;
	text-align: center;
	min-width: 1000px;
}
.childpane{
	width:45%;
	min-height:200px;
	border: 1px solid #765980;
	border-radius: 8px;
	display: inline-block;
	margin: 20px;
	max-width: 500px;
	float:left;
}


.totalpane{
	width: 90%;
	min-height: 500px;
	border: 1px solid #765980;
	margin: auto;
	border-radius: 8px;
	display: none;
}

.normal{
	background: url(/newclock/img/computer.jpg) no-repeat;
	height: 150px;
	width:150px;
	background-size: 150px 150px;
	display: inline-block;
	color:#0000ff;
}
.danger{
	background:url(/newclock/img/danger.png) no-repeat;
	height: 150px;
	width: 150px;
	background-size: 150px 150px;
	display: inline-block;
	color: red;
}

.underline{
	width: 100%;
	height:35px;
	border-bottom: 1px solid;
	line-height: 35px;
}